*{
	margin: 0 auto;
	}
 body{
     position:relative ;
     top:0px ;
	 background: url(image/logo.png);
 }
 #cadre {
	width: 1210px;
	height: 100% ;
	float: center ;
	background-color:#FFFFFF ;
}
#cadre a {
	text-decoration:none ;
	font-family : arial ;
	color: black ;
	font-size: 30px ;
}
#cadre a:hover {
	color: #7F8FA6 ;
}
#tete {
	width: 100% ;
	height: 50px ;
	top:50px;
	background:grey ;
}
#tete tr td a {
	float:center;
	background:#000000;
}
#cadre marquee {
	font-size:35px;
	top: 100px;
	color:#83A697;
}
#menupied {
	font-size:-160px;
	color:#83A697;
}
.info{
	font-family : arial ;
    color: black;
    font-weight: 100;
	font-size: 30px ;
}
.h3{
	font-family : arial ;
    color: black;
    font-weight: 110;
	font-size: 25px ;
}
.inf{
	font-family : arial ;
    color: black;
    font-weight: 100;
	font-size: 25px ;
}